[submodule "sebastianlau"]
	path = sebastianlau
	url = https://github.com/le-bananafish/sebastianlau.git
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/vickylai/hugo-theme-sam.git
