{{ $bundleRaw := resources.Get "sass/style.sass" | resources.ExecuteAsTemplate "css/main.tmp.css" . }}

{{ $cssOpts := (dict "transpiler" "dartsass" "targetPath" "css/main.css" "enableSourceMap" true ) }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">

<!-- PhotoSwipe -->
{{ if eq .Type "gallery" }}
{{ $photoswipe := "css/photoswipe.css" }}
<link rel="stylesheet" href="{{ $photoswipe | absURL }}">
{{ $defaultSkin := "css/default-skin.css" }}
<link rel="stylesheet" href="{{ $defaultSkin | absURL }}">
{{ end }}
