article
    code
        font-family: $code
.post-container
//     padding: 1em
//     background-color: #fff
//     opacity: 1
//     color: #000
//     margin-bottom: 0.5em
//     // border-left: 1px solid $border-color
//     // border-right: 1px solid $border-color
//     // border-top: 1px solid $border-color
//     // border-width: 1px
//     border-radius: 5px
//     // border-color: $post-border-color
//     // border-style: solid
//     box-shadow: $post-bg-color 3px 3px
//     // border-bottom-style: outset
//     // border-bottom: 1px outset $border-color
//     a
//         color: #000
//         border-bottom: solid #000
//     a:hover
//         border-bottom-color: $post-bg-color
//     hr
//         width: 50%
//         margin: 0.5em 0
//         color: #000
//         align-self: center

// .post-details
    // margin-left: 2em
    // & .tag-container
        // margin: 0
        // padding: 0.5em

// nav.flex-container a
    // display: inline
    // opacity: 1

// .nav-item
    // display: flex
    // a
        // display: inline

.archive-note
    align-content: center
    padding: 0
    // margin: 0 0.5em 1em
    p
        // background-color: purple
        text-align: left
        background-color: lighten($dark-grey, 25%)
        font-size: 0.8em
        // padding: 2rem
        // margin: 2rem 1rem 2rem 1rem
        padding: 0.75em 1.75em
        margin: auto
        // margin: 1rem
        // border-radius: 3px
        border-radius: 4px
        // font-size: 1em
        color: $archive-font-color

.archive-note-header
    @include link-style
    opacity: 2
    font-variant: small-caps
    display: inline
