$font-path: "../fonts"
// put your fonts in /static/fonts

@font-face
    src: url("#{$font-path}/DidactGothic-Regular.ttf") format("truetype")

    font-family: "Didact Gothic"

@font-face
    src: url("#{$font-path}/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype")

    font-family: "Source Code Pro"
    font-style: italic

@font-face
    src: url("#{$font-path}/SourceCodePro-VariableFont_wght.ttf") format("truetype")

    font-family: "Source Code Pro"
    font-style: normal