@use "vars"

=skinny-hr
    margin: 1rem 0
    // margin: 1rem auto
    background-color: transparent
    //box-shadow: 0 1px 0 rgba(219,219,219,0.3)
    // width: 50%
    width: 40%
    border-style: solid
    border-width: 1px

=centred-hr
    margin: 1rem auto

=left-hr
    margin: 1rem 0

=ease($time)
    transition: $time ease

// the colour seems a bit contradictory here
=link-style
    // color: $links
    color: vars.$links-hover
    text-decoration: none
    border-bottom: 2px solid vars.$links
    // +ease(0.5s)
    &:hover
        // color: $links-hover
        color: vars.$links
        border-bottom: 1.8px solid
        // font-style: none
    &:active
        color: vars.$links

=fake-italic
    -webkit-transform: skewX(vars.$fake-italic-angle)
    -moz-transform: skewX(vars.$fake-italic-angle)
     -ms-transform: skewX(vars.$fake-italic-angle)
      -o-transform: skewX(vars.$fake-italic-angle)
         transform: skewX(vars.$fake-italic-angle)

=side-tag
    color: vars.$accent-color-mono

=small-caps
    font-variant: all-small-caps

=link-style-proper
    text-decoration: underline
