// Colours
$white: #fff
// $white: #FFFAFA
$snow: #FFFAFA
$mintcream: #F5FFFA
$black: #111
$dark-grey: #39424E

// $font-color: #ccc
$font-color: #D9D9D9
$body-size: 16px
$body-text: $white

$small-title: $body-size * 0.625

// $links: darken($white, 20%)
$links: #F5FFFA
// $links-hover: $white
$links-hover: #fff

$code-block: #000004
