$white: #fff
$black: #111
$dark-grey: #39424E
// defaults (code is a custom variable)
// $font: 'Didact Gothic', sans serif
// $code: 'Source Code Pro', monospace
$body-size: 16px
$body-text: $white

// #ccc
$links: darken($white, 20%)
$links-hover: $white

$code-block: #000004

// custom variables
$opacity: 0.9
$line-height: 1.8
$letter-spacing: 1.5px
$fake-italic-angle: -10deg

$archive-font-color: rgba($black, 0.7)
$custom-links: #ccc

$accent-color-mono: darken(gold, 5%)
$bg-color-mono: lighten($dark-grey, 10%)
// this is #ccccccc with opacity x
$post-border-color: rgba(204, 204, 204, 0.5)
$post-bg-color: rgba(256, 256, 256, 0.3)
