{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul>
        <!-- All I changed is I added in sorting by Title -->
        {{ range (sort .Data.Pages "Title")}}
        <li>
            {{ if .Params.showDate }}
            {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
            {{ end }}
            <a href="{{.RelPermalink}}">
                <!-- Well and using the advanced titles partial -->
                {{ partial "advanced_titles.html" .}}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}