{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}
{{ partial "head/css.html" . }}
<!-- Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic"> -->
{{ $googlefont := "https://fonts.googleapis.com/css?family="}}

{{ $fontfamily := replace .Site.Params.fontFamily " " "+" }}
<link rel="stylesheet" {{ printf "href=%s%s" $googlefont $fontfamily | safeHTMLAttr }}>

{{ $codefamily := replace .Site.Params.codeFamily " " "+" }}
<link rel="stylesheet" {{ printf "href=%s%s" $googlefont $codefamily | safeHTMLAttr }}>

<!-- if using fontFamilies -->
<!-- {{ range .Site.Params.fontFamilies }}
    {{ $font := replace . " " "+" | safeHTMLAttr }}
    <link rel="stylesheet" {{ printf "href=%s%s" $googlefont $font | safeHTMLAttr }}>
    <p>{{ $font }}</p>
{{ end }} -->
<!-- <p>
    {{ $fontfamily }}
</p> -->

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_analytics_async.html" . }}